.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }

  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }
  .galleryImage {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .galleryImage img {
    height: 100%;
    width: 100%;
    transform: scale(1.0);
    transition: transform 0.4s ease;
  }

  .imgBox {
    box-sizing: content-box;
    margin: 10px;
    height: 325px;
    width: 425px;
    overflow: hidden;
    display: inline-block;
    color: white;
    position: relative;
    background-color: white;
  }

  .caption {
    position: absolute;
    bottom: 5px;
    left: 20px;
    opacity: 0.0;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
  .caption p{
    margin-bottom: 2px;
  }

  .transparentBox {
    height: 325px;
    width: 425px;
    background-color:rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
    left: 0;
    transition: background-color 0.3s ease;
  }

  .imgBox:hover img {
    transform: scale(1.1);
  }

  .imgBox:hover .transparent-box {
    background-color:rgba(0, 0, 0, 0.5);
  }

  .imgBox:hover .caption {
    transform: translateY(-20px);
    opacity: 1.0;
  }

  .imgBox:hover {
    cursor: pointer;
  }

  .caption > p:nth-child(2) {
    font-size: 0.8em;
  }

  .opacityLow {
    opacity: 0.5;
  }